@layer base {
  html {
    font-family: Inter, sans-serif;
  }
}

@theme {
  /* text-tiny definition */
  --text-tiny: 0.625rem;
  --text-tiny--line-height: 100%;
  --text-tiny--letter-spacing: 0%;
  --text-tiny--font-weight: 400;
  /* text-2.5xl definition */
  --text-2.5xl: 1.75rem;
  --text-3.5xl--line-height: 2.25rem;
  --text-3.5xl--letter-spacing: 0%;
  --text-3.5xl--font-weight: 400;
  /* text-3.5xl definition */
  --text-3.5xl: 2rem;
  --text-3.5xl--line-height: 2.5rem;
  --text-3.5xl--letter-spacing: 0%;
  --text-3.5xl--font-weight: 400;
}
